WORDPRESS_DB_NAME=tio2_local
WORDPRESS_DB_USER=tio2
WORDPRESS_DB_PASSWORD=local-dev-password
WORDPRESS_DB_ROOT_PASSWORD=local-root-password
WORDPRESS_ADMIN_USER=tio2-local-editor
WORDPRESS_ADMIN_PASSWORD=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
WORDPRESS_ADMIN_EMAIL=admin@example.test
NEXTJS_REVALIDATION_URL_TIO2_A=http://host.docker.internal:3001/api/revalidate
NEXTJS_REVALIDATION_SECRET_TIO2_A=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
NEXTJS_REVALIDATION_URL_TIO2_B=http://host.docker.internal:3002/api/revalidate
NEXTJS_REVALIDATION_SECRET_TIO2_B=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
NEXTJS_REVALIDATION_URL_TIO2_MY=http://host.docker.internal:3003/api/revalidate
NEXTJS_REVALIDATION_SECRET_TIO2_MY=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
NEXTJS_PREVIEW_URL_TIO2_A=http://127.0.0.1:3001/api/preview
NEXTJS_PREVIEW_SECRET_TIO2_A=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
NEXTJS_PREVIEW_URL_TIO2_B=http://127.0.0.1:3002/api/preview
NEXTJS_PREVIEW_SECRET_TIO2_B=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
NEXTJS_PREVIEW_URL_TIO2_MY=http://127.0.0.1:3003/api/preview
NEXTJS_PREVIEW_SECRET_TIO2_MY=GENERATE_WITH_SCRIPTS_NEW_LOCAL_WORDPRESS_ENV
