# TIO2_NGINX_STAGING_MARKER: nginx -t must succeed against the staged configuration before activation.

server {
    listen 80;
    listen [::]:80;
    server_name cms.tio2malaysia.com;

    return 301 https://cms.tio2malaysia.com$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name cms.tio2malaysia.com;

    ssl_certificate /etc/letsencrypt/live/cms.tio2malaysia.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/cms.tio2malaysia.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name tio2malaysia.com;

    return 301 https://tio2malaysia.com$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name tio2malaysia.com;

    ssl_certificate /etc/letsencrypt/live/tio2malaysia.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/tio2malaysia.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 80;
    listen [::]:80;
    server_name www.tio2malaysia.com;

    return 301 https://tio2malaysia.com$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name www.tio2malaysia.com;

    ssl_certificate /etc/letsencrypt/live/tio2malaysia.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/tio2malaysia.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    return 301 https://tio2malaysia.com$request_uri;
}
