SITE_ID=tio2-my
NODE_ENV=production
VERCEL_ENV=production
NEXT_PUBLIC_SITE_URL=https://tio2malaysia.com
NEXT_PUBLIC_TIO2_RUNTIME_ENVIRONMENT=production
WORDPRESS_GRAPHQL_URL=http://wordpress/graphql
WORDPRESS_MEDIA_ORIGIN=https://cms.tio2malaysia.com
WORDPRESS_PREVIEW_URL=http://wordpress/wp-json/tio2/v1/preview
NEXTJS_REVALIDATION_URL_TIO2_MY=http://web:3000/api/revalidate
NEXTJS_REVALIDATION_SECRET_TIO2_MY=REQUIRED_ROOT_ONLY_VALUE
NEXTJS_PREVIEW_SECRET_TIO2_MY=REQUIRED_ROOT_ONLY_VALUE
WORDPRESS_EDITORIAL_API_TOKEN=REQUIRED_ROOT_ONLY_VALUE
NEXT_PUBLIC_TIO2_MY_WEB3FORMS_ACCESS_KEY=REQUIRED_APPROVED_UUID
TIO2_MY_RFQ_INDEXING_RELEASE_AUTHORIZED=false
